
<!DOCTYPE html>
<html lang="en" ng-app="BookingFutsalApp">
<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Booking futsal kini lebih cepat, lebih mudah dan aman.">
<meta name="keywords" content="booking futsal,booking futsal online,booking lapang futsal,futsaloka,futsal">
<meta name="author" content="Futsaloka">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:locale" content="id_ID"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Booking Lapang Futsal Cepat, Mudah Dan Aman | Futsaloka.id"/>
    <meta property="og:description" content="Booking Lapang Futsal Cepat, Mudah Dan Aman | Futsaloka.id"/>
    <meta property="og:url" content="https://futsaloka.id/"/>
    <meta property="og:site_name" content="Futsaloka.id"/>
    <meta property="og:image" content="https://futsaloka.id/assets/img/icons/icon-152x152.png"/>
<meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="Booking Lapang Futsal Cepat, Mudah Dan Aman | Futsaloka.id"/>
    <meta name="twitter:title" content="Booking Lapang Futsal Cepat, Mudah Dan Aman | Futsaloka.id"/>
    <meta name="twitter:site" content="@futsalokaid"/>
    <meta name="twitter:image" content="https://futsaloka.id/assets/img/icons/icon-152x152.png"/><title>Cek Pesanan | Futsaloka.id</title>

<link rel="manifest" href="/manifest.json">
<!-- Add to home screen for Safari on iOS -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Futsaloka">
<link rel="apple-touch-icon" href="/assets/image/icons/icon-152x152.png">
<meta name="msapplication-TileImage" content="/assets/image/icons/icon-144x144.png">
<meta name="msapplication-TileColor" content="#6FCC36">

<meta name="author" content="Futsaloka">
<meta name="theme-color" content="#6FCC36">
<meta name="msapplication-navbutton-color" content="#6FCC36">
<meta name="apple-mobile-web-app-status-bar-style" content="#6FCC36">

<link rel="shorcut icon" href="https://futsaloka.id/assets/image/favicon.png">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/css/pace.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/css/toastr.min.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/swal/sweetalert.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="https://futsaloka.id/assets/select2/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/css/style.css">
<!-- owl carousel -->
<link rel="stylesheet" href="/assets/owl/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/owl/assets/owl.theme.default.min.css">

<style media="screen">
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  p {
    color: black;
  }
</style>

<!-- Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117377362-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117377362-1');
</script>

<!-- Analytics -->
<script>
    // (function(d, w, c) {
    //     w.ChatraID = 'A5DMkaLbvEHp2Lnqn';
    //     var s = d.createElement('script');
    //     w[c] = w[c] || function() {
    //         (w[c].q = w[c].q || []).push(arguments);
    //     };
    //     s.async = true;
    //     s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
    //     + '//call.chatra.io/chatra.js';
    //     if (d.head) d.head.appendChild(s);
    // })(document, window, 'Chatra');
</script>
<script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBbge-_THPC0oWg8187zVUmwk_fzVX4Hcc"
        type="text/javascript"></script>

<script src="https://apis.google.com/js/api:client.js"></script>
<script>
var googleUser = {};
var startApp = function() {
  gapi.load('auth2', function(){
    // Retrieve the singleton for the GoogleAuth library and set up the client.
    auth2 = gapi.auth2.init({
      client_id: '273192780782-8vq4o7js1q3raaen88m4v52vhi77ib1n.apps.googleusercontent.com',
      ux_mode: 'modal',
      // Request scopes in addition to 'profile' and 'email'
      //scope: 'additional_scope'
    });
    attachSignin(document.getElementById('customBtn'));
    attachSignin(document.getElementById('customBtnDaftar'));
  });
};

function attachSignin(element) {
  console.log(element.id);
  auth2.attachClickHandler(element, {},
      function(googleUser) {

        var profile = googleUser.getBasicProfile();
        $.ajax({
          url : 'https://futsaloka.id/login/google',
          type: 'post',
          crossDomain: true,
          data: {
            email : profile.getEmail(),
            name : profile.getName(),
            photo : profile.getImageUrl(),
            social_id : profile.getId(),
            social_name : 'google',
          },
          dataType: "json",
          success: function(data){

          }
        })

        $("#googleText").html('sedang mengalihkan...');
        setTimeout(function() {
          window.location.reload();
        }, 3000);

      }, function(error) {
        alert(JSON.stringify(error, undefined, 2));
      });
}
</script>
<style type="text/css">
  #customBtn {
    display: inline-block;
    background: #0984e3;
    color: white;
    white-space: nowrap;
    border-radius: 5px;
    padding: 10px;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  #customBtnDaftar {
    display: inline-block;
    background: #0984e3;
    color: white;
    white-space: nowrap;
    border-radius: 5px;
    padding: 10px;
  }
  #customBtnDaftar:hover {
    cursor: pointer;
  }
  span.label {
    font-weight: normal;
    color: black;
  }
  span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
  }
</style>

  <script>
  window.fbAsyncInit = function() {
    // FB JavaScript SDK configuration and setup
    FB.init({
      appId      : '235920447243585', // FB App ID
      cookie     : true,  // enable cookies to allow the server to access the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });
  };

  // Load the JavaScript SDK asynchronously
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Facebook login with JavaScript SDK
  function fbLogin() {
      FB.login(function (response) {
        console.log(response);
        if (response.authResponse) {
          // Get and display the user profile data
          FB.api('/me', {locale: 'en_US', fields: 'id,first_name,last_name,email,picture'},
          function (userData) {
            // Save user data
            $.ajax({
              url : 'https://futsaloka.id/login/google',
              type: 'post',
              crossDomain: true,
              data: {
                email : userData.email,
                name : userData.first_name + ' ' + userData.last_name,
                photo : userData.picture.data.url,
                social_id : userData.id,
                social_name : 'facebook',
              },
              dataType: "json",
              success: function(data){

              }
            })
          });

          $("#fbLink").html('sedang mengalihkan...');
          setTimeout(function() {
            window.location.reload();
          }, 3000);

        }
      }, {scope: 'email'});
  }

  </script>

<script type="text/javascript" src="https://futsaloka.id/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/swal/sweetalert.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/owl/owl.carousel.min.js"></script>
</head>

<body ng-controller="MainController" ng-cloak>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="bar-menu">Menu</span>
      </button>
      <a class="navbar-brand" href="web.html"> <span style="font-family: quicksand; font-size: 25px;"><strong>Futsalkuy</strong></span> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="check-order.html">Cek Booking</a></li>
        <li><a href="konfirmasi.html">Konfirmasi</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
                  <li><a href="#" data-target="#login" data-toggle="modal">Masuk</a></li>
          <li><a href="#" data-target="#register" data-toggle="modal">Daftar</a></li>
              </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Masuk ke akun Anda</h4>
      </div>
      <form name="login">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Email</label>
            <span class="text-error" ng-show="login.LoginEmail.$touched && login.LoginEmail.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="login.LoginEmail.$touched && login.LoginEmail.$error.email">masukan email.</span>
            <input type="email" ng-model="LoginEmail" name="LoginEmail" class="form-control" id="" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <span class="text-error" ng-show="login.LoginPassword.$touched && login.LoginPassword.$invalid">Harus diisi.</span>
            <input type="password" ng-model="LoginPassword" name="LoginPassword" class="form-control" id="" placeholder="Password" required>
          </div>
          <a href="#" id="buton-forgotpassword" data-target="#forgotpassword" data-toggle="modal">Lupa password Anda?</a>
          <br><br>
          <div class="form-group">
            <button type="submit" ng-disabled="login.LoginEmail.$invalid || login.LoginPassword.$invalid" class="btn btn-primary" value="submit" ng-click="Login()">Masuk</button>
          </div>
        </div>
        <div class="modal-footer text-center">
          <p class="text-center">Atau masuk dengan:</p>
          <div id="gSignInWrapper" class="text-center">
            <div id="customBtn" class="customGPlusSignIn">
              <span id="googleText">Google</span>
            </div>
          </div>
          <br>
          <div class="text-center">
            <a href="javascript:void(0);" onclick="fbLogin()" id="fbLink" class="btn btn-primary">Facebook</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Daftar Jadi Member Futsaloka</h4>
      </div>
      <form name="register" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label for="Email">Email</label>
            <span class="text-error" ng-show="register.UserEmail.$touched && register.UserEmail.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="register.UserEmail.$touched && register.UserEmail.$error.email">Gunakan email yang valid.</span>
            <span class="text-error" ng-show="UserEmail_error">{{UserEmail_error}}</span>
            <input type="email" ng-model="UserEmail" name="UserEmail" class="form-control" placeholder="Masukan email Anda" required>
          </div>
          <div class="form-group">
            <label for="">Nama</label>
            <span class="text-error" ng-show="register.UserName.$touched && register.UserName.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="UserName_error">{{UserName_error}}</span>
            <input type="text" ng-model="UserName" name="UserName" class="form-control" placeholder="Masukan nama Anda" required>
          </div>
          <div class="form-group">
            <label for="">Telepon</label>
            <span class="text-error" ng-show="register.UserPhone.$touched && register.UserPhone.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="UserPhone_error">{{UserPhone_error}}</span>
            <input type="text" ng-model="UserPhone" name="UserPhone" class="form-control" placeholder="Masukan no telepon" required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <span class="text-error" ng-show="UserPassword_error">{{UserPassword_error}}</span>
            <span class="text-error" ng-show="register.UserPassword.$touched && register.UserPassword.$invalid">Harus diisi.</span>
            <input type="password" ng-model="UserPassword" name="UserPassword" class="form-control" placeholder="Masukan password" required>
          </div>
          <div class="form-group">
            <label for="">Konfirmasi Password</label>
            <span class="text-error" ng-show="register.UserPasswordConfirm.$touched && register.UserPasswordConfirm.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="UserPasswordConfirm_error">{{UserPasswordConfirm_error}}</span>
            <input type="password" ng-model="UserPasswordConfirm" name="UserPasswordConfirm" class="form-control" placeholder="Masukan konfirmasi password" required>
          </div>
          <div class="form-group">
            <button type="submit" ng-disabled="register.UserEmail.$invalid || register.UserName.$invalid || register.UserPhone.$invalid || register.UserPassword.$invalid || register.UserPasswordConfirm.$invalid" value="submit" class="btn btn-primary" ng-click="NewUser()">Daftar</button>
          </div>
        </div>
        <div class="modal-footer">
          <div id="gSignInWrapper" class="text-center">
            <p>Atau daftar dengan:</p>
            <div id="customBtnDaftar" class="customGPlusSignIn">
              <span>Google</span>
            </div>
          </div>
          <br>
          <div class="text-center">
            <a href="javascript:void(0);" onclick="fbLogin()" id="fbLink" class="btn btn-primary">Facebook</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-custom-size">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Lupa password</h4>
      </div>
      <form name="forgotpassword">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Email</label>
            <span class="text-error" ng-show="forgotpassword.ForgotpasswordEmail.$touched && forgotpassword.ForgotpasswordEmail.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="forgotpassword.ForgotpasswordEmail.$touched && forgotpassword.ForgotpasswordEmail.$error.email">masukan email.</span>
            <input type="email" ng-model="ForgotpasswordEmail" name="ForgotpasswordEmail" class="form-control" id="" placeholder="Email" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" ng-disabled="forgotpassword.ForgotpasswordEmail.$invalid" class="btn btn-primary" value="submit" ng-click="ForgotPassword()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>startApp();</script>
  <div class="col-md-8 col-md-offset-2">
  
    <div class="input-code col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Cek Booking
      </div>
      <div class="panel-body body-cek">
        <form action="check-order.html" method="get">
          <div class="form-group">
            <label for="invoice">Masukan Invoice / Kode Booking</label>
            <input type="text" class="form-control" value="" name="invoice" required>
          </div>
      </div>
      <div class="panel-footer text-center">
          <input type="submit" value="Cek Sekarang" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
    
  </div>
<div class="clearfix"></div>
  
<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul>
        <li><strong>Tentang Futsaloka.id</strong></li>
        <li><a href="https://futsaloka.id/cara-pesan">Cara Pesan</a></li>
        <li><a href="https://futsaloka.id/bantuan">Bantuan</a></li>
        <li><a href="https://futsaloka.id/hubungi-kami">Hubungi Kami</a></li>
        <li><a href="https://futsaloka.id/syarat-dan-ketentuan">Syarat & Ketentuan</a></li>
        <li><a href="https://futsaloka.id/kebijakan-privasi">Kebijakan Privasi</a></li>
        <li><a href="https://futsaloka.id/menjadi-partner">Daftarkan Lapang Anda</a></li>
      </ul>
    </div>
    <div class="col-md-3 text-center">
      <div class="row">
        <div class="col-md-12">
          <center>
            <a href="https://futsaloka.id/"> <img src="https://futsaloka.id/assets/image/futsaloka1-transparant.png" alt="futsaloka.id" class="img-responsive" /> </a>
          </center>
        </div>
      </div>
      <hr>
      <strong>Customer Service</strong> 089-627-302-553 <br>
      Email : <a href="mailto:futsalokaid@gmail.com"><strong>futsalokaid@gmail.com</strong></a>
    </div>
  </div>
  <br><br>
  <p class="text-center">Copyright &copy 2018, Futsaloka.id, All Rights Reserved.</p>
  </div>
</footer>

<script type="text/javascript" src="https://futsaloka.id/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/js/pace.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/js/toastr.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/lazyload/lazyload.transpiled.min.js"></script>

<script type="text/javascript" src="https://futsaloka.id/assets/select2/js/select2.min.js"></script>
<script type="text/javascript">
  $("#keyword").select2();
</script>

<script type="text/javascript" src="https://futsaloka.id/assets/js/angular.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/js/app.js"></script>

<script type="text/javascript">
  $("#sort_date").html($("#kalender").val());
  $("#kalender").change(function(){
    $("#sort_date").html($("#kalender").val());
  })
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#buton-forgotpassword").click(function(){
      $('#login').modal('hide');
    });

    $("#kalender").datepicker({
      dateFormat: 'yy-mm-dd',
      minDate : '2018-09-18',
      maxDate : '2018-10-18',
    });
    $(".kalender").datepicker({
      dateFormat: 'yy-mm-dd',
      minDate : '2018-09-18',
      maxDate : '2018-10-18',
    });
  });
</script>
<script type="text/javascript">
  $("#filter_city").change(function(){
    window.location.assign('https://futsaloka.id/city/'+$(this).val());
  })
</script>
<script>
	new LazyLoad();
</script>

<script type="text/javascript">
// TODO add service worker code here

// (function() {
//   'use strict';
//
//   if ('serviceWorker' in navigator) {
//     navigator.serviceWorker
//              .register('/service-worker.js')
//              .then(function() { console.log('Service Worker Registered'); });
//   }
// })();
</script>

<script type="text/javascript">
  $("#total").keyup(function(){
    this.value = this.value.replace(/[^0-9\.]/g,'');
  });
</script>

</body>
</html>
