
<!DOCTYPE html>
<html lang="en" ng-app="BookingFutsalApp">
<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Booking futsal kini lebih cepat, lebih mudah dan aman.">
<meta name="keywords" content="booking futsal,booking futsal online,booking lapang futsal,futsaloka,futsal">
<meta name="author" content="Futsaloka">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="The Clover Sport Club memiliki 2 Lapangan Futsal berstandar Internasional dari segi kualitas,ukuran, dan fasilitasnya. Fasilitas pelengkap lainnya seperti ruang ganti,kamar mandi, ruang tunggu yang bersih , terawat , dan nyaman tentunya menjadikan kita bisa bermain futsal yang menyenangkan." />
		<meta name="keywords" content="lapang futsal The Clover,The Clover,booking futsal,booking futsal online,booking lapang futsal,futsaloka,futsal" /><meta property="og:type" content="article"/><meta property="og:title" content="The Clover"/><meta property="og:description" content="The Clover Sport Club memiliki 2 Lapangan Futsal berstandar Internasional dari segi kualitas,ukuran, dan fasilitasnya. Fasilitas pelengkap lainnya seperti ruang ganti,kamar mandi, ruang tunggu yang bersih , terawat , dan nyaman tentunya menjadikan kita bisa bermain futsal yang menyenangkan."/><meta property="og:image" content="https://futsaloka.id/assets/uploads/gedung/faf88a79d80b400ebb054697eba081ca.jpeg"/><meta property="og:url" content="https://futsaloka.id/the-clover"/><meta property="og:site_name" content="Blog Futsaloka.id"/><meta property="article:publisher" content="facebook.com/futsaloka.id"/>
<meta property="og:image:width" content="640"/><meta property="og:image:height" content="424"/><meta name="twitter:card" content="summary_large_image"><meta name="twitter:title" content="The Clover"><meta name="twitter:description" content="The Clover Sport Club memiliki 2 Lapangan Futsal berstandar Internasional dari segi kualitas,ukuran, dan fasilitasnya. Fasilitas pelengkap lainnya seperti ruang ganti,kamar mandi, ruang tunggu yang bersih , terawat , dan nyaman tentunya menjadikan kita bisa bermain futsal yang menyenangkan."><meta name="twitter:image" content="https://futsaloka.id/assets/uploads/gedung/faf88a79d80b400ebb054697eba081ca.jpeg"><meta name="twitter:site" content="@futsalokaid"><title>The Clover | Futsaloka.id</title>

<link rel="manifest" href="/manifest.json">
<!-- Add to home screen for Safari on iOS -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Futsaloka">
<link rel="apple-touch-icon" href="/assets/image/icons/icon-152x152.png">
<meta name="msapplication-TileImage" content="/assets/image/icons/icon-144x144.png">
<meta name="msapplication-TileColor" content="#6FCC36">

<meta name="author" content="Futsaloka">
<meta name="theme-color" content="#6FCC36">
<meta name="msapplication-navbutton-color" content="#6FCC36">
<meta name="apple-mobile-web-app-status-bar-style" content="#6FCC36">

<link rel="shorcut icon" href="https://futsaloka.id/assets/image/favicon.png">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/css/pace.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/css/toastr.min.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/swal/sweetalert.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="https://futsaloka.id/assets/select2/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="https://futsaloka.id/assets/css/style.css">
<!-- owl carousel -->
<link rel="stylesheet" href="/assets/owl/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/owl/assets/owl.theme.default.min.css">

<style media="screen">
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  p {
    color: black;
  }
</style>

<!-- Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117377362-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117377362-1');
</script>

<!-- Analytics -->
<script>
    // (function(d, w, c) {
    //     w.ChatraID = 'A5DMkaLbvEHp2Lnqn';
    //     var s = d.createElement('script');
    //     w[c] = w[c] || function() {
    //         (w[c].q = w[c].q || []).push(arguments);
    //     };
    //     s.async = true;
    //     s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
    //     + '//call.chatra.io/chatra.js';
    //     if (d.head) d.head.appendChild(s);
    // })(document, window, 'Chatra');
</script>
<script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBbge-_THPC0oWg8187zVUmwk_fzVX4Hcc"
        type="text/javascript"></script>

<script src="https://apis.google.com/js/api:client.js"></script>
<script>
var googleUser = {};
var startApp = function() {
  gapi.load('auth2', function(){
    // Retrieve the singleton for the GoogleAuth library and set up the client.
    auth2 = gapi.auth2.init({
      client_id: '273192780782-8vq4o7js1q3raaen88m4v52vhi77ib1n.apps.googleusercontent.com',
      ux_mode: 'modal',
      // Request scopes in addition to 'profile' and 'email'
      //scope: 'additional_scope'
    });
    attachSignin(document.getElementById('customBtn'));
    attachSignin(document.getElementById('customBtnDaftar'));
  });
};

function attachSignin(element) {
  console.log(element.id);
  auth2.attachClickHandler(element, {},
      function(googleUser) {

        var profile = googleUser.getBasicProfile();
        $.ajax({
          url : 'https://futsaloka.id/login/google',
          type: 'post',
          crossDomain: true,
          data: {
            email : profile.getEmail(),
            name : profile.getName(),
            photo : profile.getImageUrl(),
            social_id : profile.getId(),
            social_name : 'google',
          },
          dataType: "json",
          success: function(data){

          }
        })

        $("#googleText").html('sedang mengalihkan...');
        setTimeout(function() {
          window.location.reload();
        }, 3000);

      }, function(error) {
        alert(JSON.stringify(error, undefined, 2));
      });
}
</script>
<style type="text/css">
  #customBtn {
    display: inline-block;
    background: #0984e3;
    color: white;
    white-space: nowrap;
    border-radius: 5px;
    padding: 10px;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  #customBtnDaftar {
    display: inline-block;
    background: #0984e3;
    color: white;
    white-space: nowrap;
    border-radius: 5px;
    padding: 10px;
  }
  #customBtnDaftar:hover {
    cursor: pointer;
  }
  span.label {
    font-weight: normal;
    color: black;
  }
  span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
  }
</style>


<script type="text/javascript" src="https://futsaloka.id/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/swal/sweetalert.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/owl/owl.carousel.min.js"></script
</head>

<body ng-controller="MainController" ng-cloak>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="bar-menu">Menu</span>
      </button>
      <a class="navbar-brand" href="https://futsaloka.id/"> <img src="https://futsaloka.id/assets/image/futsaloka1-transparant.png" alt="futsaloka.id" style="height:30px; margin-top:-5px;" /> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/check-order">Cek Booking</a></li>
        <li><a href="/konfirmasi">Konfirmasi</a></li>
        <!-- <li><a href="/peta">Peta</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
                  <li><a href="https://futsaloka.id/user/orders">Pesanan Saya</a></li>
          <li><a href="https://futsaloka.id/user/profile">axe dark</a></li>
          <li><a href="https://futsaloka.id/user/logout">Keluar</a></li>
              </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Masuk ke akun Anda</h4>
      </div>
      <form name="login">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Email</label>
            <span class="text-error" ng-show="login.LoginEmail.$touched && login.LoginEmail.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="login.LoginEmail.$touched && login.LoginEmail.$error.email">masukan email.</span>
            <input type="email" ng-model="LoginEmail" name="LoginEmail" class="form-control" id="" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <span class="text-error" ng-show="login.LoginPassword.$touched && login.LoginPassword.$invalid">Harus diisi.</span>
            <input type="password" ng-model="LoginPassword" name="LoginPassword" class="form-control" id="" placeholder="Password" required>
          </div>
          <a href="#" id="buton-forgotpassword" data-target="#forgotpassword" data-toggle="modal">Lupa password Anda?</a>
          <br><br>
          <div class="form-group">
            <button type="submit" ng-disabled="login.LoginEmail.$invalid || login.LoginPassword.$invalid" class="btn btn-primary" value="submit" ng-click="Login()">Masuk</button>
          </div>
        </div>
        <div class="modal-footer text-center">
          <p class="text-center">Atau masuk dengan:</p>
          <div id="gSignInWrapper" class="text-center">
            <div id="customBtn" class="customGPlusSignIn">
              <span id="googleText">Google</span>
            </div>
          </div>
          <br>
          <div class="text-center">
            <a href="javascript:void(0);" onclick="fbLogin()" id="fbLink" class="btn btn-primary">Facebook</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Daftar Jadi Member Futsaloka</h4>
      </div>
      <form name="register" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label for="Email">Email</label>
            <span class="text-error" ng-show="register.UserEmail.$touched && register.UserEmail.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="register.UserEmail.$touched && register.UserEmail.$error.email">Gunakan email yang valid.</span>
            <span class="text-error" ng-show="UserEmail_error">{{UserEmail_error}}</span>
            <input type="email" ng-model="UserEmail" name="UserEmail" class="form-control" placeholder="Masukan email Anda" required>
          </div>
          <div class="form-group">
            <label for="">Nama</label>
            <span class="text-error" ng-show="register.UserName.$touched && register.UserName.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="UserName_error">{{UserName_error}}</span>
            <input type="text" ng-model="UserName" name="UserName" class="form-control" placeholder="Masukan nama Anda" required>
          </div>
          <div class="form-group">
            <label for="">Telepon</label>
            <span class="text-error" ng-show="register.UserPhone.$touched && register.UserPhone.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="UserPhone_error">{{UserPhone_error}}</span>
            <input type="text" ng-model="UserPhone" name="UserPhone" class="form-control" placeholder="Masukan no telepon" required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <span class="text-error" ng-show="UserPassword_error">{{UserPassword_error}}</span>
            <span class="text-error" ng-show="register.UserPassword.$touched && register.UserPassword.$invalid">Harus diisi.</span>
            <input type="password" ng-model="UserPassword" name="UserPassword" class="form-control" placeholder="Masukan password" required>
          </div>
          <div class="form-group">
            <label for="">Konfirmasi Password</label>
            <span class="text-error" ng-show="register.UserPasswordConfirm.$touched && register.UserPasswordConfirm.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="UserPasswordConfirm_error">{{UserPasswordConfirm_error}}</span>
            <input type="password" ng-model="UserPasswordConfirm" name="UserPasswordConfirm" class="form-control" placeholder="Masukan konfirmasi password" required>
          </div>
          <div class="form-group">
            <button type="submit" ng-disabled="register.UserEmail.$invalid || register.UserName.$invalid || register.UserPhone.$invalid || register.UserPassword.$invalid || register.UserPasswordConfirm.$invalid" value="submit" class="btn btn-primary" ng-click="NewUser()">Daftar</button>
          </div>
        </div>
        <div class="modal-footer">
          <div id="gSignInWrapper" class="text-center">
            <p>Atau daftar dengan:</p>
            <div id="customBtnDaftar" class="customGPlusSignIn">
              <span>Google</span>
            </div>
          </div>
          <br>
          <div class="text-center">
            <a href="javascript:void(0);" onclick="fbLogin()" id="fbLink" class="btn btn-primary">Facebook</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-custom-size">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Lupa password</h4>
      </div>
      <form name="forgotpassword">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Email</label>
            <span class="text-error" ng-show="forgotpassword.ForgotpasswordEmail.$touched && forgotpassword.ForgotpasswordEmail.$invalid">Harus diisi.</span>
            <span class="text-error" ng-show="forgotpassword.ForgotpasswordEmail.$touched && forgotpassword.ForgotpasswordEmail.$error.email">masukan email.</span>
            <input type="email" ng-model="ForgotpasswordEmail" name="ForgotpasswordEmail" class="form-control" id="" placeholder="Email" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" ng-disabled="forgotpassword.ForgotpasswordEmail.$invalid" class="btn btn-primary" value="submit" ng-click="ForgotPassword()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>startApp();</script>
  <style media="screen">
  p {
    color: white;
  }
</style>

<div class="container lapang-detail">
  <div class="row">
    <div class="col-md-6">
      <!-- Owl cars -->
      <div class="owl-carousel owl-theme">
                <div class="item">
          <div class="cards">
            <div class="cards-image" style="background: url('https://futsaloka.id//assets/uploads/gedung/4376c2541db5c5dd940965e3e04276c3.jpeg');"></div>
          </div>
        </div>
                <div class="item">
          <div class="cards">
            <div class="cards-image" style="background: url('https://futsaloka.id//assets/uploads/gedung/9193610f260a3e6ccf697e831a55281f.jpeg');"></div>
          </div>
        </div>
                <div class="item">
          <div class="cards">
            <div class="cards-image" style="background: url('https://futsaloka.id//assets/uploads/gedung/65bfd85ccca240522bcec7417e6c6182.jpeg');"></div>
          </div>
        </div>
                <div class="item">
          <div class="cards">
            <div class="cards-image" style="background: url('https://futsaloka.id//assets/uploads/gedung/f064dbf443d643216d77e923eab7ac40.jpeg');"></div>
          </div>
        </div>
                <div class="item">
          <div class="cards">
            <div class="cards-image" style="background: url('https://futsaloka.id//assets/uploads/gedung/139c96de02fcd9a82e2137dd5e30a1b1.jpeg');"></div>
          </div>
        </div>
              </div>

    </div>
    <div class="col-md-6">
      <h1 class="detail-venue-name">The Clover</h1>
      <p class="value-address-main"><i class="glyphicon glyphicon-map-marker"></i> Jl. Sharon Boulevard Timur RT 03/11</p>
      <br>
      <label>Jam Buka</label>
      <p class="value"><i class="glyphicon glyphicon-time"></i> 08:00 - 21:00 </p>
      <br>
      <label for="Deskripsi">Deskripsi Lapangan</label>
      <p class="value-address">The Clover Sport Club memiliki 2 Lapangan Futsal berstandar Internasional dari segi kualitas,ukuran, dan fasilitasnya. Fasilitas pelengkap lainnya seperti ruang ganti,kamar mandi, ruang tunggu yang bersih , terawat , dan nyaman tentunya menjadikan kita bisa bermain futsal yang menyenangkan.</p>
      <br>
      <hr>
      <div class="well well-sm cancellation-policy">
        <strong style="color:white">Kebijakan Venue :</strong>
        <p>Pembatalan harap konfirmasi, Pendaftaran Member dan Futsal Academy hubungi langsung Operator.
Nikmati juga promo gratis main 1 jam setelah main 2 jam dalam waktu 1 minggu.</p>
      </div>
      <!-- <label>Bagikan :</label>  <br><br>
      <a href="https://www.facebook.com/sharer.php?u=https://futsaloka.id/the-clover/" target="_blank" rel="nofollow" class="btn btn-primary btn-sm">Facebook</a>
      <a href="https://twitter.com/intent/tweet?text=The Clover;url=https://futsaloka.id/the-clover/;via=futsalokaid" target="_blank" rel="nofollow" class="btn btn-info btn-sm">Twitter</a> -->
    </div>

  </div>

  <br>
  <div class="col-md-12 nopadding">
    <div class="price-start">
      <p>Harga Mulai Dari</p>
      <h2 class="text-info pull-left">Rp. 30.000</h2>
      <a href="#chooseLapang" class="btn btn-warning btn-lg pull-right">Pilih Lapang</a>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="" id="chooseLapang">
    <div class="panel panel-default">

      <div class="panel-body">
        <form class="" role="search" action="">

          <div class="col-md-3">
            <p class="label-search">Tanggal</p>
            <div class="form-group">
              <input type="text" class="form-control" id="kalender" name="qDate" value="2018-09-18" min="2018-09-18">
            </div>
          </div>
          <div class="col-md-3">
            <p class="label-search">Jam Mulai</p>
            <div class="form-group">
              <select class="form-control" name="qTime">
                                                  <option  value="00:00">00:00</option>
                                                  <option  value="01:00">01:00</option>
                                                  <option  value="02:00">02:00</option>
                                                  <option  value="03:00">03:00</option>
                                                  <option  value="04:00">04:00</option>
                                                  <option  value="05:00">05:00</option>
                                                  <option  value="06:00">06:00</option>
                                                  <option  value="07:00">07:00</option>
                                                  <option selected value="08:00">08:00</option>
                                                  <option  value="09:00">09:00</option>
                                                  <option  value="10:00">10:00</option>
                                                  <option  value="11:00">11:00</option>
                                                  <option  value="12:00">12:00</option>
                                                  <option  value="13:00">13:00</option>
                                                  <option  value="14:00">14:00</option>
                                                  <option  value="15:00">15:00</option>
                                                  <option  value="16:00">16:00</option>
                                                  <option  value="17:00">17:00</option>
                                                  <option  value="18:00">18:00</option>
                                                  <option  value="19:00">19:00</option>
                                                  <option  value="20:00">20:00</option>
                                                  <option  value="21:00">21:00</option>
                                                  <option  value="22:00">22:00</option>
                                                  <option  value="23:00">23:00</option>
                              </select>
            </div>
          </div>
          <div class="col-md-3">
            <p class="label-search">Durasi</p>
            <div class="form-group">
              <!-- <input type="time" class="form-control" name="qTime" value="19:00"> -->
              <select class="form-control" name="qDuration">
                                  <option selected value="1">1 Jam</option>
                                  <option  value="2">2 Jam</option>
                                  <option  value="3">3 Jam</option>
                                  <option  value="4">4 Jam</option>
                                  <option  value="5">5 Jam</option>
                              </select>
            </div>
          </div>
          <div class="col-md-3">
            <p>&nbsp;</p>
            <button type="submit" class="btn btn-primary btn-block green">CARI LAPANGAN</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <br>
    <div class="row head-sched" style="background:#90caf9">
      <div>
        <div class="col-md-2">
          <h3>Pilih Lapang</i></h3>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-5">

        </div>
      </div>
    </div>
    <br>
    <div class="row">
          <div class="list-lapang">
        <div class="row">
          <form id="booking" class="" action="/booking/review" method="post">
          <div class="col-md-2">
            <a href="javascript:{}" onclick="document.getElementById('booking').submit();">
              <img style="background:#bbb9b9;" data-original="https://futsaloka.id//assets/uploads/lapang/150x150_6821240a94f1e330f6924552e7261882.jpeg" alt="Lapangan 2" class="img-thumbnail"/>
            </a>
          </div>
          <div class="col-md-10 list-field">
            <h4>Lapangan 2</h4>
            <h5>Rp. 70.000</h5>
            <input type="hidden" name="date" value="2018-09-18">
            <input type="hidden" name="time_start" value="08:00">
            <input type="hidden" name="duration" value="1">
            <input type="hidden" name="field_id" value="50">
            <input type="hidden" name="venue_id" value="121">
            <button type="submit" name="submit" value="1" class="btn btn-warning pull-left">Booking Sekarang</button>
          </div>
          </form>
        </div>
      </div>
      <br>
          <div class="list-lapang">
        <div class="row">
          <form id="booking" class="" action="/booking/review" method="post">
          <div class="col-md-2">
            <a href="javascript:{}" onclick="document.getElementById('booking').submit();">
              <img style="background:#bbb9b9;" data-original="https://futsaloka.id//assets/uploads/lapang/150x150_d655cb54742235a100f4196f4815671a.jpeg" alt="Lapangan 1" class="img-thumbnail"/>
            </a>
          </div>
          <div class="col-md-10 list-field">
            <h4>Lapangan 1</h4>
            <h5>Rp. 70.000</h5>
            <input type="hidden" name="date" value="2018-09-18">
            <input type="hidden" name="time_start" value="08:00">
            <input type="hidden" name="duration" value="1">
            <input type="hidden" name="field_id" value="51">
            <input type="hidden" name="venue_id" value="121">
            <button type="submit" name="submit" value="1" class="btn btn-warning pull-left">Booking Sekarang</button>
          </div>
          </form>
        </div>
      </div>
      <br>
          <div class="list-lapang">
        <div class="row">
          <form id="booking" class="" action="/booking/review" method="post">
          <div class="col-md-2">
            <a href="javascript:{}" onclick="document.getElementById('booking').submit();">
              <img style="background:#bbb9b9;" data-original="https://futsaloka.id//assets/uploads/lapang/150x150_7db2cc73a48b29e2a54c59e845b23271.jpeg" alt="Lapang Badminton A" class="img-thumbnail"/>
            </a>
          </div>
          <div class="col-md-10 list-field">
            <h4>Lapang Badminton A</h4>
            <h5>Rp. 30.000</h5>
            <input type="hidden" name="date" value="2018-09-18">
            <input type="hidden" name="time_start" value="08:00">
            <input type="hidden" name="duration" value="1">
            <input type="hidden" name="field_id" value="55">
            <input type="hidden" name="venue_id" value="121">
            <button type="submit" name="submit" value="1" class="btn btn-warning pull-left">Booking Sekarang</button>
          </div>
          </form>
        </div>
      </div>
      <br>
          <div class="list-lapang">
        <div class="row">
          <form id="booking" class="" action="/booking/review" method="post">
          <div class="col-md-2">
            <a href="javascript:{}" onclick="document.getElementById('booking').submit();">
              <img style="background:#bbb9b9;" data-original="https://futsaloka.id//assets/uploads/lapang/150x150_0b10e83ed6d455a088eb9857ce7f66d6.jpeg" alt="Lapang Badminton B" class="img-thumbnail"/>
            </a>
          </div>
          <div class="col-md-10 list-field">
            <h4>Lapang Badminton B</h4>
            <h5>Rp. 30.000</h5>
            <input type="hidden" name="date" value="2018-09-18">
            <input type="hidden" name="time_start" value="08:00">
            <input type="hidden" name="duration" value="1">
            <input type="hidden" name="field_id" value="56">
            <input type="hidden" name="venue_id" value="121">
            <button type="submit" name="submit" value="1" class="btn btn-warning pull-left">Booking Sekarang</button>
          </div>
          </form>
        </div>
      </div>
      <br>
        </div>
  </div>

  <div class="col-md-12 nopadding">
      <!-- <label for="peta lokasi"><i class="glyphicon glyphicon-map-marker"></i> Peta Lokasi</label> -->
      <br>
      <div id="map" style="width:100%;height:250px"></div>
    </div>

  <!-- <div class="col-md-12">
    <h3>Reviews Customer</h3>
    
    <label>Belum ada penilaian</label>  </div> -->

</div>

<script>
  function myMap() {
    var myCenter = new google.maps.LatLng(-6.953341406876686,107.67522740003471 );
    var mapCanvas = document.getElementById("map");
    var mapOptions = {center: myCenter, zoom: 17};
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var marker = new google.maps.Marker({position:myCenter});
    marker.setMap(map);
  }
  myMap()
</script>
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:false,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:1
          }
      }
    })
</script>

  
<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul>
        <li><strong>Tentang Futsaloka.id</strong></li>
        <li><a href="https://futsaloka.id/cara-pesan">Cara Pesan</a></li>
        <li><a href="https://futsaloka.id/bantuan">Bantuan</a></li>
        <li><a href="https://futsaloka.id/hubungi-kami">Hubungi Kami</a></li>
        <li><a href="https://futsaloka.id/syarat-dan-ketentuan">Syarat & Ketentuan</a></li>
        <li><a href="https://futsaloka.id/kebijakan-privasi">Kebijakan Privasi</a></li>
        <li><a href="https://futsaloka.id/menjadi-partner">Daftarkan Lapang Anda</a></li>
      </ul>
    </div>
    <div class="col-md-3 text-center">
      <div class="row">
        <div class="col-md-12">
          <center>
            <a href="https://futsaloka.id/"> <img src="https://futsaloka.id/assets/image/futsaloka1-transparant.png" alt="futsaloka.id" class="img-responsive" /> </a>
          </center>
        </div>
      </div>
      <hr>
      <strong>Customer Service</strong> 089-627-302-553 <br>
      Email : <a href="mailto:futsalokaid@gmail.com"><strong>futsalokaid@gmail.com</strong></a>
    </div>
  </div>
  <br><br>
  <p class="text-center">Copyright &copy 2018, Futsaloka.id, All Rights Reserved.</p>
  </div>
</footer>

<script type="text/javascript" src="https://futsaloka.id/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/js/pace.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/js/toastr.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/lazyload/lazyload.transpiled.min.js"></script>

<script type="text/javascript" src="https://futsaloka.id/assets/select2/js/select2.min.js"></script>
<script type="text/javascript">
  $("#keyword").select2();
</script>

<script type="text/javascript" src="https://futsaloka.id/assets/js/angular.min.js"></script>
<script type="text/javascript" src="https://futsaloka.id/assets/js/app.js"></script>

<script type="text/javascript">
  $("#sort_date").html($("#kalender").val());
  $("#kalender").change(function(){
    $("#sort_date").html($("#kalender").val());
  })
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#buton-forgotpassword").click(function(){
      $('#login').modal('hide');
    });

    $("#kalender").datepicker({
      dateFormat: 'yy-mm-dd',
      minDate : '2018-09-18',
      maxDate : '2018-10-18',
    });
    $(".kalender").datepicker({
      dateFormat: 'yy-mm-dd',
      minDate : '2018-09-18',
      maxDate : '2018-10-18',
    });
  });
</script>
<script type="text/javascript">
  $("#filter_city").change(function(){
    window.location.assign('https://futsaloka.id/city/'+$(this).val());
  })
</script>
<script>
	new LazyLoad();
</script>

<script type="text/javascript">
// TODO add service worker code here

// (function() {
//   'use strict';
//
//   if ('serviceWorker' in navigator) {
//     navigator.serviceWorker
//              .register('/service-worker.js')
//              .then(function() { console.log('Service Worker Registered'); });
//   }
// })();
</script>

<script type="text/javascript">
  $("#total").keyup(function(){
    this.value = this.value.replace(/[^0-9\.]/g,'');
  });
</script>

</body>
</html>
